html {
    background: #1c1c1c;
	font-family: monospace;
	padding: 10%;
    color: #aaa;
}

p {
    margin: 0;
}

a {
	text-decoration: none;
	color: #d18a2e;
    padding: 2px;
}

a:hover {
    color: #1c1c1c;
    background-color: #d18a2e;
    transition: 0.4s;
}

.links a {
    padding: 0;
}

.links a:hover {
    padding: 5px;
}

img {
    width: 100%;
    padding-top: 25px;
    padding-bottom: 25px;
}

.double {
    width: 49%;
}

.highlighter-rouge {
    text-align: left;
    background-color: #181818;
    margin: 0;
    padding: 10px;
}

pre {
    margin: 0;
}
